{% extends 'index.html' %}
{% block content %}
 <!-- 취미 -->
 <section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">HOBBY</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">보드게임</h3>
                <div class="subheading mb-3">BOARD GAME</div>
                <p>보드게임 카페 가는걸 좋아합니다.</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">드라마, 영화 시청</h3>
                <div class="subheading mb-3">WATCHING DRAMA AND MOVIE</div>
                <p>드라마와 영화 보는것을 좋아합니다. 최근에는, '왜 오수재인가' 라는 드라마를 시청 중입니다.</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">카페에서 최애메뉴 발굴하기</h3>
                <div class="subheading mb-3">FIND NEW FAVORITE MENU AT CAFE</div>
                <p>투썸에서는 스트로베리피치프라페가 제일 맛있습니다.</p>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock %}