{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="resume-section" id="education">
    <div class="resume-section-content" >
        <h2 class="mb-5">PLAYLIST            
            <a src="https://play-lh.googleusercontent.com/GweSpOJ7p8RZ0lzMDr7sU0x5EtvbsAubkVjLY-chdyV6exnSUfl99Am0g8X0w_a2Qo4=w240-h480-rw
            "  href="http://kko.to/YfIuv5N0K" ><img src="https://play-lh.googleusercontent.com/GweSpOJ7p8RZ0lzMDr7sU0x5EtvbsAubkVjLY-chdyV6exnSUfl99Am0g8X0w_a2Qo4=w240-h480-rw
            "  class="playlist_melon" alt="멜론로고" width="45" height="45" style="border:0;">
            </a>
        </h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0" id="playlist" style="position:relative; display:flex;">
                    <img src={% static 'img/1.jpg' %} alt="멜론로고" width="80" height="80" style="border-radius:10%;">
                    <div class="flex-grow-1" >
                        <h3 class="mb-0" style=" margin-left:20px;">What Do I Call You</h3>
                        <div class="subheading mb-3" style="margin-left:20px;">태연</div>
                    </div>
                </h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">What Do I Call You - The 4th Mini Album</span></div>
        </div>
     
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0" id="playlist" style="position:relative; display:flex;">
                    <img src={% static 'img/2.jpg' %} alt="music2" width="80" height="80" style="border-radius:10%;">
                    <div class="flex-grow-1" >
                        <h3 class="mb-0" style=" margin-left:20px;">Pantomime</h3>
                        <div class="subheading mb-3" style="margin-top:10px;margin-left:20px;">우주소녀</div>
                    </div>
                </h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Neverland</span></div>

        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0" id="playlist" style="position:relative; display:flex;">
                    <img src={% static 'img/4.jpg' %} alt="music4" width="80" height="80" style="border-radius:10%;">
                    <div class="flex-grow-1" >
                        <h3 class="mb-0" style=" margin-left:20px;">Feel My Rhythm</h3>
                        <div class="subheading mb-3" style="margin-top:10px;margin-left:20px;">레드벨벳</div>
                    </div>
                </h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">The ReVe Festival 2022 - Feel My Rhythm</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0" id="playlist" style="position:relative; display:flex;">
                    <img src={% static 'img/5.jpg' %} alt="music5" width="80" height="80" style="border-radius:10%;">
                    <div class="flex-grow-1" >
                        <h3 class="mb-0" style=" margin-left:20px;">Blue Flame</h3>
                        <div class="subheading mb-3" style="margin-top:10px;margin-left:20px;">르세라핌</div>
                    </div>
                </h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">FEARLESS</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0" id="playlist" style="position:relative; display:flex;">
                    <img src={% static 'img/6.jpg' %} alt="music6" width="80" height="80" style="border-radius:10%;">
                    <div class="flex-grow-1" >
                        <h3 class="mb-0" style=" margin-left:20px;">ROYAL</h3>
                        <div class="subheading mb-3" style="margin-top:10px;margin-left:20px;">아이브</div>
                    </div>
                </h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">LOVE DIVE</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0" id="playlist" style="position:relative; display:flex;">
                    <img src={% static 'img/7.jpg' %} alt="music7" width="80" height="80" style="border-radius:10%;">
                    <div class="flex-grow-1" >
                        <h3 class="mb-0" style=" margin-left:20px;">Life's Too Short(English ver.)</h3>
                        <div class="subheading mb-3" style="margin-top:10px;margin-left:20px;">aespa</div>
                    </div>
                </h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Life's Too Short</span></div>

        </div>
        </section>
        
        {% endblock %}




